<ion-header>

  <ion-navbar color="dark">
    <ion-title>Todos los eventos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondo" padding color="primary">
    <img class="logo" src="img/logo.png">

	<ion-list>
		<ion-item>
			Arte
		</ion-item>
	<ion-item  *ngFor= " let arte of eventosA" text-wrap >

	    <h2 ><strong><em>Nombre: {{arte.nombre}}</em></strong></h2>
	    <h2 ><strong><em>Hora: {{arte.hora}}</em></strong></h2>
	    <h2 ><strong><em>Fecha: {{arte.fecha}}</em></strong></h2>

	    <button ion-button (click)="muestra(arte)" >Mostrar</button>

	</ion-item>

	</ion-list>



	<ion-list >
		<ion-item>
			Música
		</ion-item>
	<ion-item  *ngFor= " let musica of eventosM" text-wrap >

	    <h2 ><strong><em>Nombre: {{musica.nombre}}</em></strong></h2>
	    <h2 ><strong><em>Hora: {{musica.hora}}</em></strong></h2>
	    <h2 ><strong><em>Fecha: {{musica.fecha}}</em></strong></h2>

	    <button ion-button (click)="muestra(musica)">Mostrar</button>

	</ion-item>

	</ion-list>


	<ion-list >
		<ion-item>
			Tecnología
		</ion-item>
	<ion-item  *ngFor= " let tecnologia of eventosT" text-wrap >

	    <h2 ><strong><em>Nombre: {{tecnologia.nombre}}</em></strong></h2>
	    <h2 ><strong><em>Hora: {{tecnologia.hora}}</em></strong></h2>
	    <h2 ><strong><em>Fecha: {{tecnologia.fecha}}</em></strong></h2>

	    <button ion-button (click)="muestra(tecnologia)">Mostrar</button>

	</ion-item>

	</ion-list>

	<ion-list >
		<ion-item>
			Ciencias Exactas
		</ion-item>
	<ion-item  *ngFor= " let ciencias of eventosC" text-wrap >

	    <h2 ><strong><em>Nombre: {{ciencias.nombre}}</em></strong></h2>
	    <h2 ><strong><em>Hora: {{ciencias.hora}}</em></strong></h2>
	    <h2 ><strong><em>Fecha: {{ciencias.fecha}}</em></strong></h2>

	    <button ion-button (click)="muestra(ciencias)">Mostrar</button>

	</ion-item>

	</ion-list>
		
	<ion-list >
		<ion-item>
			Idiomas
		</ion-item>
	<ion-item  *ngFor= " let idiomas of eventosI" text-wrap >

	    <h2 ><strong><em>Nombre: {{idiomas.nombre}}</em></strong></h2>
	    <h2 ><strong><em>Hora: {{idiomas.hora}}</em></strong></h2>
	    <h2 ><strong><em>Fecha: {{idiomas.fecha}}</em></strong></h2>

	    <button ion-button (click)="muestra(idiomas)">Mostrar</button>

	</ion-item>

	</ion-list>

	<ion-list >
		<ion-item>
			Letras
		</ion-item>
	<ion-item  *ngFor= " let letras of eventosL" text-wrap >

	    <h2 ><strong><em>Nombre: {{letras.nombre}}</em></strong></h2>
	    <h2 ><strong><em>Hora: {{letras.hora}}</em></strong></h2>
	    <h2 ><strong><em>Fecha: {{letras.fecha}}</em></strong></h2>

	    <button ion-button (click)="muestra(letras)">Mostrar</button>

	</ion-item>

	</ion-list>


</ion-content>
